@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.timerStyle {
    width: inherit;
    height: inherit;
    font-size: 20px;
    font-family: "VT323", monospace;
    transition-property: color, opacity;
    color: green;
    transition-duration: 0.1s;
    transition-timing-function: ease;
}

.blink {
    color: red;
    opacity: 40%;
}