@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,700');
@import url('https://fonts.googleapis.com/css2?family=Niconne&display=swap');
/* font-family: Georgia, "Times New Roman", Times, serif; */
/* !импортировать прикольный шрифт! */


.horizontal-ruler {
  position: absolute;
  top: 732px;
  width: 100vw;
  border: 1px solid red;
  z-index: 100;
  display: none;
} 

* {
  box-sizing: content-box;
  margin: 0px;
  padding: 0px;
}

svg {
    width: 0;
    height: 0;
}

header {
  height: 20vh;
  background-color: lightgreen;
}

section {
  display: flex;
  margin-top: 60px;
  background-color: white;
  position: relative;
}
section:first-child {margin-top: 0px;}

h2 {
  text-align: center;
  font-weight: 700;
  /* text-shadow: 2px 5px 4px #777; */
}
h3 {
  text-align: center;
  font-weight: 700;
}

hr {
  border: none;
  border-top: 3px double #333;
  border-bottom: 3px dodgerblue;
  color: #333;
  margin-bottom: 0.3em;
}

button {
  border-style: inset;
  border-radius: 6px;
  padding: 0px 2px;
  border-width: 3px;
}

ul {list-style-image: url("../images/list-marker.svg");}
time {color: gray;}


.page {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 300;
}
.pageContent { font-family: Georgia, 'Times New Roman', Times, serif;}
.pageBackground {
  width: 100%;
  height: 100vh;
  position: fixed;
  filter: url(#roughpaper);
  z-index: -1;
}


/*Burger Menu*/
.burger-menu_button {
  position: fixed;
  z-index: 30;
  cursor: pointer;
}
  .burger-menu_lines {
    transition: 0.4s;
    position: fixed;
    height: 5px;
    background-color: gray;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
  }
.burger-menu_button:hover .burger-menu_lines {filter: brightness(1.2);}
.burger-menu_active .burger-menu_lines {background-color: red;}

.buttonOverlay {
  z-index: 0;
  position: fixed;
  cursor: pointer;
}
.buttonOverlay_active {z-index: 40;}

.burger-menu_nav {
  position: fixed;
  top: 0px;
  z-index: 20;
  display: flex;
  flex-flow: column;
  background-color: gray;
  height: 0px;
}

.burger-menu_link {
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  color: gray;
  border: none;
  font-size: 0px;
  transition-property: color;
}
.burger-menu_link:hover {filter: brightness(0.7);}


.card {
  position: relative;
  width: 70%;
  background: #ddd;
  padding: 0.5em;
  margin: 14px auto;
  border-radius: 20px;
}
.card button {text-align: center;}
.card:before, .card:after {
  z-index: -1;
  position: absolute;
  content: "";
  bottom: 15px;
  left: 10px;
  width: 50%;
  top: 60%;
  background: rgba(0, 0, 0, 0.7);
  box-shadow: 0 15px 8px rgba(0, 0, 0, 0.7);
  transform: rotate(-4deg);
  border-radius: 10px;
}
.card:after {
  transform: rotate(4deg);
  right: 10px;
  left: auto;
}


/*Section 1*/
#section-1 {
  height: 80vh;
  justify-content: space-between;
}
  .plot-1-1 {
    z-index: 10;
    height: 100%;
    width: 40%;
    color: black;
    display: flex;
    flex-direction: column;
  }
    #canvasS1-P1 {
      position: absolute;
      z-index: -1;
    }
    .plot-1-1 img {border-radius: 50%;}
    .img-caption{
      text-align: center;
      margin-left: 1em;
    }
    .img-caption h2 {margin-bottom: 0.4em;}
    .status-cont {font-style: italic;}
    .scills h2 {margin-top: 2.5em;}
    .scills ul {
      margin-top: 0.8em;
      border-right: 6px double black;
    }
    .scills ul li {
      margin-left: 2em;
      margin-bottom: 5px;
    }

  .plot-1-2 {
    z-index: 10;
    height: 100%;
    width: 50%;
    color: white;
  }
    #canvasS1-P2 {
      position: absolute;
      z-index: -1;
    }
    .aim {text-align: center;}
    .aim h2 {
      font-weight: 500;
      margin-bottom: 0.5em;
      /* text-shadow: 2px 2px 2px #999; */
    }
    .aim span {font-style: italic;margin: auto 10px;}
    .contacts {
      display: flex;
      flex-direction: column;
      
    }
    .contacts h2 {
      font-weight: 500;
      margin-bottom: 0.8em;
      /* text-shadow: 2px 2px 2px #999; */
      margin-top: 2.42em;
    }
    .contacts span {
      margin-bottom: 5px;
      position: relative;
    }
    .contacts a {
      font-style: italic;
      text-decoration: none;
      color: lightblue;
    }
    .contacts a:hover {text-decoration: underline;}
    .phone a:hover {text-decoration: none;}
    .contacts span::before {
      background-size: cover;
      content: "";
      position: absolute;
      width: 1.3em;
      height: 1.3em;
      left: -1.7em;
      top: -0.2em;
    }
    .phone::before {background-image: url("../images/mobile-white.svg");}
    .resumeFile::before {background-image: url("../images/file-text-white.svg");}
    .gitHub::before {background-image: url("../images/github-white.svg");}
    .mail::before {background-image: url("../images/mail-white.svg");}

/*Section 2*/
/* #section-2 {} */
#canvasS2{
  position: absolute;
  z-index: 0;
}

  .plot-2-1 {
    z-index: 10;
    width: 50%;
  }
    .work-experience {margin-top: 20px;}
    .card ul li {
      margin-top: 0.5em;
      margin-left: 1.2em;
    }
    .card-moreInfo, .card-lessInfo {display: none;}
    .card .time {margin-top: 0.5em;}

    /*мобільна версія*/
    .mobile .buttonCardInfo {margin-left: -1.2em;}
    .mobile .buttonCardInfo::after {
      width: 1.2em;
      height: 1.2em;
      margin-left: 6px;
      background-size: cover;
      content: "";
      position: absolute;
    }
    #buttWork_moreInfo1::after, #buttWork_moreInfo2::after {background-image: url("../images/arrow-down.svg");}
    #buttWork_lessInfo1::after, #buttWork_lessInfo2::after {background-image: url("../images/arrow-up.svg");}

    .mobile .card-content {display: none;}
    .mobile .card-moreInfo {
      display: block;
      margin-top: 0.5em;
      text-align: center;
    }
    .mobile .card-lessInfo {
      display: none;
      margin-top: 0.5em;
      text-align: center;
    }
    
  .plot-2-2 {
    z-index: 10;
    width: 50%;
  }
    .education {margin-top: 20px;}
    .education h3 {margin-bottom: 0.5em;}
    .education .card {text-align: center;}

  .language {
    top: 76%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: white;
    position: absolute;
    text-align: center;
  }
  .language h2 {
    font-weight: 500;
    /* text-shadow: 2px 2px 2px #999; */
  }
  .language p {margin-top: 0.5em;}


/* Section 3*/
#section-3 {flex-direction: column;}
#canvasS3{
  position: absolute;
  z-index: 0;
}

.plot-3-1 {
  width: inherit;
  z-index: 10;
  color: #fff;
  background-color: rgb(0, 0, 0);
}
  .timer {
    text-align: center;
    padding: 0.5em;
  }
  .timer p {padding: 0.5em;}

.plot-3-2 { z-index: 10;}
  .projects {
    width: 90%;
    margin: auto;
  }
  .projects .card {width: 90%;}
  .projects h3 {margin-bottom: 0.5em;}

  /*мобільна версія*/
  #buttProj_moreInfo1::after, #buttProj_moreInfo2::after, #buttProj_moreInfo3::after {background-image: url("../images/arrow-down.svg");}
  #buttProj_lessInfo1::after, #buttProj_lessInfo2::after, #buttProj_lessInfo3::after {
    background-image: url("../images/arrow-up.svg");
  }

/* Section 4*/
#section-4 {
  color: #64a4ee;
  text-shadow: 4px 4px 6px #fff;
}


/* Нижний колонтитул */
.footer {
  background-color: #373540;
  color: #f2f2f2;
  padding-top: 12px;
  padding-bottom: 14px;
  font-size: 42px;
  font-family: "Niconne", Italic;
  letter-spacing: 2px;
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  flex-wrap: wrap;
}

